.App {
  height: 100%;
  width: 100%;
  color: white;
}
.h1{
  text-align: start;
  font-size: 1.7rem;
  font-weight: 600;
}
.h2{
  text-align: start;
  font-size: 1.5rem;
  font-weight: 600;
}
.count{
  text-align: start;
  font-size: 1.2rem;
  font-weight: 600;
}
.text1{
  text-align: start;
  font-size: 0.9rem;
  font-weight: 500;
}
.text2{
  text-align: start;
  font-size: 0.5rem;
  font-weight: 400;
}

